services:
  web:
    image: swws97/gomoku_game-web:latest   # ← 서버에서 build 안 함, Hub에서 pull
    env_file: ./envs/.env.prod
    # prod에서 필요한 볼륨만 명시적으로 마운트
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/media
      - ./static:/app/static:ro  # PWA 파일을 위해 필요

  nginx:
    image: swws97/gomoku_game-nginx:latest  # Nginx도 Hub에서 pull
    env_file: ./envs/.env.prod

  db:
    image: postgres:16
    env_file: ./envs/.env.prod
    # 베이스의 pgdata(운영 데이터) 볼륨 사용

  redis:
    image: redis:7

  celery-worker:
    image: swws97/gomoku_game-web:latest
    env_file: ./envs/.env.prod
    command: celery -A config worker --loglevel=info
    depends_on:
      - db
      - redis

  celery-beat:
    image: swws97/gomoku_game-web:latest
    env_file: ./envs/.env.prod
    command: celery -A config beat --loglevel=info
    depends_on:
      - db
      - redis