name: CI - Build and Push Docker Images

on:
  workflow_run:
    workflows: ["CI - Check Code"] # 1. check.yml 파일 이름
    types: [ completed ]
    branches: [ main ]

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    # 2. 'check' 워크플로우가 성공(success)했을 때만 실행
    if: github.event.workflow_run.conclusion == 'success'

    steps:
      - name: Check out
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Web 이미지 빌드 및 푸시
      - name: Build and push Web image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: swws97/gomoku_game-web:latest
          cache-from: type=gha,scope=web
          cache-to: type=gha,mode=max,scope=web

      # Nginx 이미지 빌드 및 푸시
      - name: Build and push Nginx image
        uses: docker/build-push-action@v5
        with:
          context: ./nginx
          file: ./nginx/Dockerfile
          push: true
          tags: swws97/gomoku_game-nginx:latest
          cache-from: type=gha,scope=nginx
          cache-to: type=gha,mode=max,scope=nginx