name: CI - Build and Push Docker Image

on:
  workflow_run:
    workflows: ["CI - Check Code"] # 1. check.yml 파일 이름
    types: [ completed ]
    branches: [ main ]

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    # 2. 'check' 워크플로우가 성공(success)했을 때만 실행
    if: github.event.workflow_run.conclusion == 'success'

    steps:
      - name: Check out
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: swws97/gomoku_game-web:latest # docker-compose.prod.yml과 동일한 이미지 태그
          cache-from: type=gha
          cache-to: type=gha,mode=max